node_modules/
dist/
test.js
*.log
.bootstrap/
vectors.bin
vectors.json
mock-payload.json
benchmarks/server-memory-log.csv
packages-llvm/db.ohn/disk.img
.DS_Store
tmp/
Ohnrscript_Copyright_Deposit.md

*.vsix
launch_strategy.md

# Build outputs & LLVM intermediate files
*.ll
*.o
*.s
*.elf
*.exe
hello-world
